<!DOCTYPE html>
{% load staticfiles %}
{% load htmlattributes %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href={% static 'favicon.ico' %}>

        <title>Selfplus</title>

        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom bootstrap page templates -->
        {%block custom_templates %}{% endblock %}

        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style>
            .greyframe {
                background: #eee;
                border-radius: 6px;
                padding: 10px 15px
            }
            .fullgrey {
                background: #eee;
            }
            .main
            {
                min-height: 512px;
            }
            .vertical-banner
            {
                padding-top: 50px;
                vertical-align: top;
            }
            body {
                padding-top: 70px;
            }
            {%block custom_styles %}{% endblock %}
        </style>
    </head>


  <body>

    {% block nav_bar %} {% endblock %}

    {% block body_block %}{% endblock %}

    <div class="container">
    <hr>
        <footer>
            <p>&copy; Selfplus 2015</p>
        </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <!-- Project jquery and ajax -->
    <script src="{% static 'js/selfplus-jquery.js' %}"></script>
    <script src="{% static 'js/selfplus-ajax.js' %}"></script>
    {% block custom_script %}{% endblock %}
  </body>
</html>
