{% extends 'selfplus/innerbase.html' %}
{% load staticfiles %}

{%block page_styles %}
.col-centered{
    float: none;
    margin: 0 auto;
}
.greyed {
    color: #AAAAAA;
}
{% endblock %}

{% block body_block %}
    <div class="container main">
        <div class ="row">
            <h1 class="text-center">Selfplus Community</h1>
            <div class ="col-md-6 col-md-offset-3">
                <form id="community_search">
                    <div class="input-group">
                        <input id="search_bar" type="text" class="form-control" placeholder="Search usernames or dailies">
                        <span class="input-group-btn">
                            <button id="community_search_btn" class="btn btn-default" type="button" type="submit" name="submit">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </span>
                    </div>
                </form>
            </div>

        </div>
        <br>

        <div id="search_results">
            {% include 'selfplus/community_search.html' %}
        </div>
    </div>
{% endblock %}

{% block custom_script %}
{% endblock %}