{% if not search_return %}
    <div class = "row">
        <div class="col-md-9 col-centered">
            <h3> Top Scorers </h3>
            <hr>
            <ol class="list-inline">
                {% for scorer,scorer_profile in tscorers %}
                    {% url 'community_user' scorer.username as user_url %}
                    <li>
                        <div class="thumbnail">
                            <a href={{ user_url }}  style="text-decoration:none;">
                                <img class="media-object" src=/media/{{scorer_profile.picture}}>
                                <div class="caption">
                                    {{ scorer.username }}
                                    <br>
                                    {{ scorer_profile.points }}
                                </div>
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div class = "row">
        <div class="col-md-9 col-centered">
            <h3> Newcomers </h3>
            <hr>
            <ol class="list-inline">
                {% for newbie,newbie_profile in newcomers %}
                    {% url 'community_user' newbie.username as user_url %}
                    <li>
                        <div class="thumbnail">
                            <a href={{ user_url }}  style="text-decoration:none;">
                            <img class="media-object" src="/media/{{newbie_profile.picture}}">
                            <div class="caption">
                                {{ newbie.username }}
                                <br>
                                {{ newbie_profile.points }}
                            </div>
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>
{% else %}
    {% if not results_names and not results_dailies %}
        <div class="row">
            <h3> No Results </h3>
            <small class="greyed"> Selfplus could not find relevant results for keyword : "{{search_str}}" : </small>
        </div>
    {% endif %}
    {% if results_names %}
        <div class="row">
            <div class="col-md-9 col-centered">
                <h3> Name Results </h3>
                <small class="greyed"> Usernames relevant to keyword : "{{search_str}}" : </small>
                    <hr>
                    <ol class="list-inline">
                        {% for result_user,result_up in results_names %}
                            {% url 'community_user' result_user.username as user_url %}
                            <li>
                                <div class="thumbnail">
                                    <a href={{ user_url }}  style="text-decoration:none;">
                                        <img class="media-object" src="/media/{{result_up.picture}}">
                                        <div class="caption">
                                            {{ result_user.username }}
                                            <br>
                                            {{ result_up.points }}
                                        </div>
                                    </a>
                                </div>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    {% endif %}
    {% if results_dailies %}
        <div class="row">
            <div class="col-md-9 col-centered">
                <h3> Daily Results </h3>
                <small class="greyed"> Users with dailies relevant to keyword : "{{search_str}}" : </small>
                    <hr>
                    <ol class="list-inline">
                        {% for result_user,result_up in results_dailies %}
                            {% url 'community_user' result_user.username as user_url %}
                            <li>
                                <div class="thumbnail">
                                    <a href={{ user_url }}  style="text-decoration:none;">
                                        <img class="media-object" src="/media/{{result_up.picture}}">
                                        <div class="caption">
                                            {{ result_user.username }}
                                            <br>
                                            {{ result_up.points }}
                                        </div>
                                    </a>
                                </div>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}