{% extends 'selfplus/innerbase.html' %}
{% load staticfiles %}

{% block page_styles %}
    .greyed {
        color: #AAAAAA;
    }
    .divider{
        width:10px;
        height:auto;
        display:inline-block;
    }
    .col-centered{
        float: none;
        margin: 0 auto;
    }
    .top-buffer
    {
        margin-top: 20px;
    }
{% endblock %}

{% block body_block %}

    <div class="container main">
        <div class="row row-eq-height">
            <div class="col-md-4">
            {% if requests %}
                <div class = "row">
                    <div class="col-md-9 col-centered">
                        <h3> Requests </h3>
                        <small class="greyed"> These users sent you friend requests </small>
                        <hr>
                        <ul class="list-group">
                        {% for request,request_profile in requests %}
                            {% url 'community_user' request.username as user_url %}
                            {% url 'accept_friend' request.username as accept_url %}
                            {% url 'reject_friend' request.username as reject_url %}
                            <li class="list-group-item">
                                <div class="media">
                                    <div class="media-left">
                                    <a href={{ user_url }} style="text-decoration:none;">
                                        <img src="/media/{{request_profile.thumbnail}}">
                                    </a>
                                    </div>
                                    <div class="media-body">
                                        {{ request.username }}
                                        <div class="pull-right">
                                            <a class="btn btn-xs btn-success" href="{{ accept_url }}" role="button"><span class="glyphicon glyphicon-ok"></span></a>
                                            <a class="btn btn-xs btn-danger" href="{{reject_url}}" role="button"><span class="glyphicon glyphicon-remove"></span></a>
                                        </div>
                                    </div>

                                </div>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            {% else %}
                <div class = "row">
                    <div class="col-md-9 col-centered">
                        <h3> Requests </h3>
                        <small class="greyed"> These users sent you friend requests </small>
                        <hr>
                        <div class="greyed">
                            <span class="glyphicon glyphicon-info-sign"></span><small> No pending requests </small>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if pending %}
                <div class = "row">
                    <div class="col-md-9 col-centered">
                        <h3> Pending </h3>
                        <small class="greyed"> You sent these users friend requests </small>
                        <hr>
                        <ul class="list-group">
                        {% for waiting,waiting_profile in pending %}
                        {% url 'community_user' waiting.username as user_url %}
                        {% url 'cancel_request' waiting.username as cancel_request %}
                            <li class="list-group-item">
                                <div class="media">
                                    <div class="media-left">
                                    <a href={{ user_url }} style="text-decoration:none;">
                                        <img src="/media/{{waiting_profile.thumbnail}}">
                                    </a>
                                    </div>
                                    <div class="media-body">
                                        {{ waiting.username }}
                                        <div class="pull-right">
                                            <a class="btn btn-xs btn-danger" href="{{cancel_request}}" role="button"><span class="glyphicon glyphicon-remove"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            {% else %}
                <div class = "row top-buffer">
                    <div class="col-md-9 col-centered">
                        <h3> Pending </h3>
                        <small class="greyed"> You sent these users friend requests </small>
                        <hr>
                        <div class="greyed">
                            <span class="glyphicon glyphicon-info-sign"></span><small> No pending requests </small>
                        </div>
                    </div>
                </div>
            {% endif %}
            </div>
            <div class="col-md-8">
                {% if friends %}
                    <div class = "row">
                        <div class="col-centered">
                            <h3> Friends </h3>
                            <small class="greyed"> People you're connected with </small>
                            <hr>
                            <ol class="list-inline">
                            {% for friend,friend_profile in friends %}
                                {% url 'community_user' friend.username as user_url %}
                                <li>
                                    <div class="thumbnail">
                                        <a href={{ user_url }} style="text-decoration:none;">
                                        <img class="media-object" src=/media/{{friend_profile.picture}}>
                                        <div class="caption">
                                            {{ friend.username }}
                                            <br>
                                            {{ friend_profile.points }}
                                        </div>
                                        </a>
                                    </div>
                                </li>
                            {% endfor %}
                            </ol>
                        </div>
                    </div>
                {% else %}
                    <div class = "row">
                        <div class="col-centered">
                            <h3> Friends </h3>
                            <small class="greyed"> People you're connected with </small>
                            <hr>
                        </div>
                         <div class="col-centered greyframe">
                             <div class="greyed">
                                <h1> Hello, {{user.username}}!</h1>
                                <h4> You currently have no contacts. Browse the community to make new friends. </h4>
                             </div>
                             <br>
                             <a class="btn btn-primary btn-lg" href="/selfplus/community/" role="button">Browse Community</a>
                             <br>
                             <br>
                         </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}