{% extends 'selfplus/base.html' %}
{% load staticfiles %}
{% load htmlattributes %}

{%block custom_templates %}
    <link href="http://getbootstrap.com/examples/jumbotron/jumbotron.css" rel="stylesheet">
{% endblock %}

{% block custom_styles %}
    .greyed {
        color: #AAAAAA;
    }
{% endblock %}

{% block nav_bar %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                <a class="navbar-brand">Selfplus</a>
            </div>
        <div id="navbar" class="navbar-collapse collapse">

            <form class="navbar-form navbar-right" id="login_form" method="post" action="/selfplus/login/">
                {% csrf_token %}
                <div class="form-group">
                    {{ login_form.username|htmlattributes:"class : form-control, autofocus: True, required: True, placeholder:Username" }}
                </div>
                <div class="form-group">
                    {{ login_form.password|htmlattributes:"class : form-control, autofocus: True, required: True, placeholder:Password" }}
                </div>
                <button type="submit" class="btn btn-success">Log in</button>
            </form>
        </div><!--/.navbar-collapse -->
        </div>
    </nav>
{% endblock %}

{% block body_block %}

    <div class="container" >
        <div class="row">
            <div class="col-md-6">
                <h2>Explore personal growth and find inspiration on Selfplus.</h2>
                <br>
                <h3>
                    - Set goals and daily activities
                </h3>
                <h3>
                   - Track your habits
                </h3>
                <h3>
                   -  Meet other self-starters
                </h3>

                </p>
            </div>
            <div class="col-md-6 greyframe">
                <h1> Sign Up</h1>
                <h3> Get a headstart! </h3>
                <br>
                <form class="form-horizontal"  method="post" action="/selfplus/register/">
                    {% if register_form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                          <span class="sr-only">Error:</span>
                          {{ register_form.non_field_errors|striptags }}
                    </div>
                    {% endif %}
                    {% csrf_token %}
                    {% for field in register_form.visible_fields %}
                    <div class="form-group">
                        <label class="col-sm-4 control-label"> {{ field.help_text }} </label>
                        <div class="col-sm-8"> {{ field|htmlattributes:"class : form-control, required: True" }} </div>
                        <br>
                        <br>
                    {% if field.errors %}
                        <div class="col-sm-offset-5 col-sm-6 alert alert-danger" role="alert">
                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                          <span class="sr-only">Error:</span>
                          {{ field.errors|striptags }}
                        </div>
                    {% endif %}
                    </div>
                    {% endfor %}
                    <input class="btn btn-primary pull-right btn-lg" type="submit" name="submit" value="Sign Up">
                </form>
            </div>
        </div>
    </div>


{% endblock %}