{% extends 'selfplus/base.html' %}
{% load staticfiles %}

{%block custom_templates %}
{% endblock %}

{%block custom_styles %}
    {%block page_styles %}{% endblock %}
{% endblock %}

{% block nav_bar %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Selfplus</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li id="profile-nav" class = {{ profile_nav }}><a href="/selfplus/user/profile/">Profile</a></li>
            <li id="dailies-nav" class = {{ dailies_nav }}><a href="/selfplus/user/dailies/">Dailies</a></li>
            <li id="progress-nav" class = {{ progress_nav }}> <a href="/selfplus/user/progress/">Progress</a></li>
            <li id="friends-nav" class = {{ friends_nav }} ><a href="/selfplus/user/friends/">Friends</a></li>
            <li id="community-nav" class = {{ community_nav }} ><a href="/selfplus/community/">Community</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                 {{user.username}}'s account <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/selfplus/user/settings/">Settings</a></li>
                <li class="divider"></li>
                <li><a href ="/selfplus/logout/">Log out</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
{% endblock %}

{% block body_block %}
{% endblock %}