{% extends 'selfplus/base.html' %}
{% load staticfiles %}
{% load htmlattributes %}

<!-- List template here-->
{%block custom_templates %}
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
{% endblock %}


{%block custom_styles %}
body{
    background-color:white;
}
{% endblock %}

{% block nav_bar %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/selfplus/">Selfplus</a>
            </div>
        </div>
    </nav>
{% endblock %}

{% block body_block %}

    <div class="container">
        <form class="form-signin greyframe" id="login_form" method="post" action="/selfplus/login/">
            <h2 class="form-signin-heading">Sign in to Selfplus</h2>
                {% if login_form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                          <span class="sr-only">Error:</span>
                          {{ login_form.non_field_errors|striptags }}
                    </div>
                {% endif %}
                {% csrf_token %}
                <div class="form-group">
                    {{ login_form.username|htmlattributes:"class : form-control, autofocus: True, required: True" }}
                    {{ login_form.username.errors }}
                </div>
                <div class="form-group">
                    {{ login_form.password|htmlattributes:"class : form-control, autofocus: True, required: True" }}
                    {{ login_form.password.errors }}
                </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <br>
            <div>
                New to selfplus? <a href="/selfplus/"> Sign up here!</a>
            </div>
            <!--
            <div>
                Forgot password? <a href="/selfplus/recovery/"> Recover here! </a>
            </div>
            !-->
        </form>
        <br>
        <br>
        <br>
    </div>

{% endblock %}
