{% extends 'selfplus/innerbase.html' %}
{% load staticfiles %}

{% block page_styles %}
{% endblock %}

{% block body_block %}

    <div class="container">
        <div class="row">
            <h1>Yearly Progress</h1>
            <hr>
        </div>
        <div class="row">
            Select year:
            <select id="yearly_select" class="target">}
                {% for year in year_list %}
                    {% if current_year == year %}
                        <option value={{year}} selected>{{year}}</option>
                    {% else %}
                        <option value={{year}} >{{year}}</option>
                    {% endif %}
                {% endfor %}
            </select>

        </div>
        <div class="row">
            <div id="year_chart"></div>
        </div>
        <div class="row">
            <h1>Monthly Progress</h1>
        </div>
        <div class="row">
            Select month ({{current_year}}):
            <select id="monthly_select" class="target">}
                {% for month in month_list %}
                    {% if current_month == forloop.counter %}
                        <option value={{ forloop.counter }} selected>{{month}}</option>
                    {% else %}
                        <option value={{ forloop.counter }} >{{month}}</option>
                    {% endif %}
                {% endfor %}
            </select>

        </div>
        <div class="row">
            <div id="month_chart"></div>
        </div>
    </div>

{% endblock %}

{% block custom_script %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="{% static 'js/selfplus-charts.js' %}"></script>
    <script>
        $( document ).ready(function() {
            year_array = {{year_points}};
            create_year_chart(year_array);
            month_array = {{ month_points }};
            month_days = {{ month_days }}
            create_month_chart(month_array, month_days);
        });
    </script>
{% endblock %}


