{% extends 'selfplus/base.html' %}
{% load staticfiles %}
{% load htmlattributes %}

<!-- List template here-->
{%block custom_templates %}
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
{% endblock %}


{%block custom_styles %}
    body{
        background-color:white;
    }
    .greyed {
        color: #AAAAAA;
    }
{% endblock %}

{% block nav_bar %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/selfplus/">Selfplus</a>
            </div>
        </div>
    </nav>
{% endblock %}

{% block body_block %}

    <div class="container">
        <form class="form-signin greyframe" id="login_form" method="post" action="/selfplus/recovery/">
            <h2 class="form-signin-heading">Password Recovery </h2>
            {% if messages %}
                <br>
                <div class="alert alert-success" role="alert">
                    {% for message in messages %}
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {{ message }}
                    {% endfor %}
                </div>
            {% else %}
                {% if recovery_form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                          <span class="sr-only">Error:</span>
                          {{ recovery_form.non_field_errors|striptags }}
                    </div>
                {% endif %}
                {% csrf_token %}
                <div class="form-group">
                    <small class="greyed"> Selfplus will send a password recovery link to your email if it is valid </small>
                    <br>
                    <br>
                    <label class="control-label"> {{ recovery_form.email.help_text }} </label>
                    {{ recovery_form.email|htmlattributes:"class : form-control, autofocus: True, required: True" }}
                    {{ recovery_form.email.errors }}
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Recover</button>
            {% endif %}
            <br>
            <br>
        </form>
        <br>
        <br>
        <br>
    </div>

{% endblock %}
