{% extends 'selfplus/base.html' %}
{% load staticfiles %}
{% load htmlattributes %}

<!-- List template here-->
{%block custom_templates %}
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
{% endblock %}


{%block custom_styles %}
    body{
        background-color:white;
    }
    .greyed {
        color: #AAAAAA;
    }
{% endblock %}

{% block nav_bar %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/selfplus/">Selfplus</a>
            </div>
        </div>
    </nav>
{% endblock %}

{% block body_block %}

    <div class="container">
        <form class="form-signin greyframe" id="login_form" method="post" action="{{ link }}" >
            <h2 class="form-signin-heading">Password Recovery </h2>
            <br>
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <div class="alert alert-success" role="alert">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {{ message }}
                        </div>
                    {% elif message.tags == 'error' %}
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% if recover_password_form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                          <span class="sr-only">Error:</span>
                          {{ recover_password_form.non_field_errors|striptags }}
                    </div>
                {% endif %}
                {% csrf_token %}
                {% for field in recover_password_form.visible_fields %}
                    <div class="form-group">
                        <label class="control-label"> {{ field.help_text }} </label>
                        <div> {{ field|htmlattributes:"class : form-control, required: True" }} </div>
                    {% if field.errors %}
                        <div class="col-sm-offset-5 col-sm-6 alert alert-danger" role="alert">
                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                          <span class="sr-only">Error:</span>
                          {{ field.errors|striptags }}
                        </div>
                    {% endif %}
                    </div>
                {% endfor %}
                <button class="btn btn-lg btn-primary btn-block" type="submit">Change</button>
            {% endif %}
            <br>
            <br>
        </form>
        <br>
        <br>
        <br>
    </div>

{% endblock %}