{% extends 'selfplus/innerbase.html' %}
{% load staticfiles %}
{% load htmlattributes %}

{% block page_styles %}
    .top-buffer
    {
        margin-top: 20px;
    }
    .greyed {
        color: #AAAAAA;
    }
{% endblock %}

{% block body_block %}
    <div class="containter">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="row">
                    {% if messages %}
                        <div class="alert alert-success" role="alert">
                            {% for message in messages %}
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {{ message }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="row greyframe">
                    <h3>Profile</h3>
                    <small class="greyed">Edit profile picture</small>
                    <br>
                    <br>
                    <div class="col-sm-4">
                        <img src="/media/{{ userprofile.picture }}" >
                    </div>
                    <div class="col-sm-8">
                        <form method="post" action="/selfplus/user/settings/edit-profile/" enctype="multipart/form-data" >
                            {% csrf_token %}
                            {% for field in profile_form.visible_fields %}
                             <div class="form-group">
                                <label class="control-label"> {{ field.help_text }} </label>
                                <div> {{ field|htmlattributes:"class : form-control, rows : 3" }} </div>
                                {% if field.errors %}
                                    <div class="alert alert-danger" role="alert">
                                      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                      <span class="sr-only">Error:</span>
                                      {{ field.errors|striptags }}
                                    </div>
                                {% endif %}
                             </div>
                            {% endfor %}
                            <input class="btn btn-default pull-right" type="submit" name="submit" value="Save" />
                            <input class="btn btn-default pull-right" type="submit" name="default" value="Default" />
                        </form>
                    </div>
                </div>
                <div class="row top-buffer greyframe">
                    <h3>Password</h3>
                    <small class="greyed">Change password</small>
                    <br>
                    <br>
                    <form method="post" action="/selfplus/user/settings/change-password/" >
                        {% csrf_token %}
                        {% for field in password_form.visible_fields %}
                         <div class="form-group">
                            <label class="control-label"> {{ field.help_text }} </label>
                            <div> {{ field|htmlattributes:"class : form-control, rows : 3" }} </div>
                            {% if field.errors %}
                                <div class="alert alert-danger" role="alert">
                                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                  <span class="sr-only">Error:</span>
                                  {{ field.errors|striptags }}
                                </div>
                            {% endif %}
                         </div>
                        {% endfor %}
                        <input class="btn btn-default pull-right" type="submit" name="submit" value="Save"/>
                    </form>
                </div>
                <div class="row greyframe top-buffer">
                    <h3>Email</h3>
                    <small class="greyed">Change email: ({{ user.email }})</small>
                    <br>
                    <br>
                    <form method="post" action="/selfplus/user/settings/change-email/" >
                        {% csrf_token %}
                        {% for field in email_form.visible_fields %}
                         <div class="form-group">
                            <label class="control-label"> {{ field.help_text }} </label>
                            <div> {{ field|htmlattributes:"class : form-control, rows : 3" }} </div>
                            {% if field.errors %}
                                <div class="alert alert-danger" role="alert">
                                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                  <span class="sr-only">Error:</span>
                                  {{ field.errors|striptags }}
                                </div>
                            {% endif %}
                         </div>
                        {% endfor %}
                        <input class="btn btn-default pull-right" type="submit" name="submit" value="Save"/>
                    </form>
                </div>
                <div class="row greyframe top-buffer">
                    <h3>Privacy</h3>
                    <small class="greyed">Edit privacy settings</small>
                    <br>
                    <br>
                    <input type="checkbox" id="id_private_box" name="private_box" {% if is_private %} checked {% endif %}> Private<br>
                    <small class="greyed"> (Private profiles are excluded from the community page and searches)</small>
                    <br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}