{% extends 'selfplus/base.html' %}
{% load staticfiles %}
{% load htmlattributes %}

{%block custom_styles %}
.col-centered{
    float: none;
    margin: 0 auto;
}
.greyed {
    color: #AAAAAA;
}
{% endblock %}

{% block nav_bar %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Selfplus</a>
            </div>
        </div>
    </nav>
{% endblock %}


{% block body_block %}
    <div class="container main">
        <div class ="row">
            <div class="col-md-10 col-md-offset-1 col-centered greyframe">
                <div class="greyed">
                    <h1> Welcome to Selfplus, {{user.username}}!</h1>
                    <br>
                    <h4> Selfplus is a habit building tool that helps you focus on prioritizing simple daily actions. </h4>
                    <h4> Fill up your goal and dailies to get started! </h4>
                </div>
                <br>
            </div>
        </div>
        <form id="goal-form form-group" method="post" action="/selfplus/setup-profile/">
            {% csrf_token %}
            <div class ="row">
                <div class="col-md-10 col-md-offset-1">
                    <h3> Goal </h3>
                        <small class="greyed"> Remind yourself with what you want to achieve.</small>
                    <hr>
                    <div class="col-md-6 greyframe">
                         <br>
                         {% for field in goal_form.visible_fields %}
                            {{ field.errors }}
                            <label class="control-label"> {{ field.help_text }} </label>
                            <br>
                            {{ field|htmlattributes:"class : form-control" }}
                        {% endfor %}
                        <br>
                    </div>
                </div>
            </div>
            <div class ="row">
                <div class="col-md-10 col-md-offset-1">
                    <h3> Dailies</h3>
                        <small class="greyed"> Dailies are simple daily tasks that you want to enforce to achieve your goal.</small>
                        <small class="greyed"> Completing your dailies will increase your score. </small>
                        <br>
                        <small class="greyed"> Higher priority dailies are worth more points.  </small>
                    <hr>
                    <div class="col-md-6 greyframe">
                         <br>
                         {% for field in daily_form.visible_fields %}
                            {{ field.errors }}
                            <label class="control-label"> {{ field.help_text }} </label>
                            <br>
                            {{ field|htmlattributes:"class : form-control " }}
                            <br>
                        {% endfor %}
                        <br>
                    </div>
                </div>
            </div>
            <div class ="row">
                <div class="col-md-10 col-md-offset-1">
                    <hr>
                    <input class="btn btn-primary btn-lg" type="submit" name="submit" value="Next >>">
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block custom_script %}
{% endblock %}