{% extends 'selfplus/innerbase.html' %}
{% load staticfiles %}
{% load htmlattributes %}

{% block page_styles %}
    .greyed {
        color: #AAAAAA;
    }
    .top-buffer
    {
        margin-top: 20px;
    }
    .row-eq-height {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display:         flex;
    }
    .table.calendar
    {
        table-layout: fixed;
    }
    .table.calendar th{
        text-align: center;
        width: 75px;
        height: 30px;
    }
    .table.calendar td {
        width: 75px;
        height: 110px;
    }
{% endblock %}

{% block body_block %}

    <!-- Main grid of the html -->
    <div class="container main">

        <div class="row row-eq-height">
            <div class="col col-sm-offset-1 col-sm-10 top-buffer">
                <div class="row">
                    <!-- Profile Summary -->
                    <div class="col-md-5">
                        <div class="row row-eq-height" >
                            <div class="col-sm-5" align="center">
                                <img class="media-object" src="/media/{{ userprofile.picture }}" >
                            </div>
                            <div class="col-sm-7">
                                <h2>{{ username }}</h2>
                                <h3>{{userprofile.points}} pts</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 greyframe">
                        <div id="goals-list">
                            <br>
                            {% if userprofile.goal and userprofile.goal != "" %}
                            <blockquote class="blockquote">
                                <p>{{ userprofile.goal }}</p>
                                <footer><cite title="Source Title">Your Goal</cite></footer>
                            </blockquote>
                            {% else %}
                                <div class="greyed"> You have not filled out your goal. </div>
                            {% endif %}
                            <p><a class="btn btn-default pull-right" role="button" onclick="show('goals-add');hide('goals-list')">
                                <span class="glyphicon glyphicon-pencil"></span></a></p>
                        </div>
                        <div id="goals-add" class="hidden">
                             <form id="goal-form form-group" method="post" action="/selfplus/user/add-goal/">
                                 <br>
                                 {% csrf_token %}
                                 {% for field in goal_form.visible_fields %}
                                    {{ field.errors }}
                                    <label class="control-label"> {{ field.help_text }} </label>
                                    <br>
                                    {{ field|htmlattributes:"class : form-control" }}
                                {% endfor %}
                                 <br>

                                 <input class="btn btn-default pull-right" type="submit" name="submit" value="Save">
                             </form>
                        </div>

                    </div>

                </div>
                <div id="calendar" class="row top-buffer">
                <!-- Dailies -->
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 greyframe">
                        <div id="dailies-list">
                            <h3>Dailies </h3>
                            <small class="greyed"> Do your dailies and mark them done! </small>
                            <br>
                            <br>
                            {% if daily1 or daily2 or daily3 %}
                                {% if daily1 %}
                                <div class="row">
                                    <div class = "col-md-2">
                                        {% if not daily1_complete %}
                                            <a href="complete?daily_id=1" role="button" class="btn btn-success btn-sm">
                                                <span class="glyphicon glyphicon-ok" aria-hidden="true"> </span>
                                            </a>
                                        {% else %}
                                            <span class="badge">+15</span>
                                        {% endif %}
                                        <br>
                                        <br>
                                    </div>
                                    <div class = "col-md-10">

                                        {% if not daily1_complete %}
                                            <p class="text-left">
                                                {{ daily1 }}
                                            </p>
                                        {% else %}
                                            <p class="text-left greyed">
                                                <strike>{{ daily1 }}</strike>
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endif %}

                                {% if daily2 %}
                                <div class="row">
                                    <div class = "col-md-2">
                                        {% if not daily2_complete %}
                                            <a href="complete?daily_id=2" role="button" class="btn btn-success btn-sm">
                                                <span class="glyphicon glyphicon-ok" aria-hidden="true"> </span>
                                            </a>
                                        {% else %}
                                            <span class="badge">+10</span>
                                        {% endif %}
                                        <br>
                                        <br>
                                    </div>
                                    <div class = "col-md-10">

                                        {% if not daily2_complete %}
                                            <p class="text-left">
                                                {{ daily2 }}
                                            </p>
                                        {% else %}
                                            <p class="text-left greyed">
                                                <strike>{{ daily2 }}</strike>
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endif %}

                                {% if daily3 %}
                                <div class="row">
                                    <div class = "col-md-2">
                                        {% if not daily3_complete %}
                                            <a href="complete?daily_id=3" role="button" class="btn btn-success btn-sm">
                                                <span class="glyphicon glyphicon-ok" aria-hidden="true"> </span>
                                            </a>
                                        {% else %}
                                            <span class="badge">+5</span>
                                        {% endif %}
                                        <br>
                                        <br>
                                    </div>
                                    <div class = "col-md-10">
                                        {% if not daily3_complete %}
                                            <p class="text-left">
                                                {{ daily3 }}
                                            </p>
                                        {% else %}
                                            <p class="text-left greyed">
                                                <strike>{{ daily3 }}</strike>
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endif %}
                            {% else %}
                                <br><p class="greyed" align="center"> You have no dailies yet</p><br>
                            {% endif %}
                            <p><a class="btn btn-default pull-right" role="button" onclick="show('dailies-add');hide('dailies-list')">
                                <span class="glyphicon glyphicon-pencil"></span></a></p>
                        </div>
                        <div id="dailies-add" class="hidden">
                            <form id="daily-form" method="post" action="/selfplus/user/add-daily/">
                                <br>
                                {% csrf_token %}
                                {% for field in daily_form.visible_fields %}
                                    {{ field.errors }}
                                    <label class="control-label"> {{ field.help_text }} </label>
                                    <br>
                                    {{ field|htmlattributes:"class : form-control" }}
                                    <br>
                                {% endfor %}
                                <br>
                                <input class="btn btn-default" type="submit" name="submit" value="Save">

                            </form>
                        </div>
                    </div>
                    <!-- Calendar -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
                        <h1 align="center">{{ monthname }}</h1>
                        <table class = "table table-bordered table-striped calendar">
                             <thead>
                                <tr>
                                    <th>Sunday</th>
                                    <th>Monday</th>
                                    <th>Tuesday</th>
                                    <th>Wednesday</th>
                                    <th>Thursday</th>
                                    <th>Friday</th>
                                    <th>Saturday</th>
                                </tr>
                            </thead>
                            <tbody class="calendar-block">
                            {% for week in calendar %}
                                <tr>
                                {% for date,dailylogs,points in week %}
                                    {% if date.month != month %}
                                        <td class="col-md-1 col-md-height greyed">{{ date.day }}</td>
                                    {% else %}
                                        <td class="col-md-1 col-md-height">
                                            {{ date.day }}
                                            <div align="center" style="position:relative;">
                                                {% if dailylogs %}
                                                    {% if dailylogs|length >= 3 %}
                                                        <img src="{% static 'images/star-gold.png' %}"/>
                                                    {% else %}
                                                        <img src="{% static 'images/star-grey.png' %}"/>
                                                    {% endif %}
                                                {% endif %}
                                                {% if points != 0 %}
                                                 <h4 style="position:absolute;width:100%;top:25%">{{ points }}</h4>
                                                {% endif %}
                                            </div>
                                        </td>
                                    {% endif%}
                                {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block custom_script %}
{% endblock %}
