{% extends 'selfplus/innerbase.html' %}
{% load staticfiles %}
{% load htmlattributes %}

{%block page_styles %}
    .greyed {
        color: #AAAAAA;
    }
    .col {
      padding-right:20px;
      padding-left:20px;
    }
    .top-buffer
    {
        margin-top: 20px;
    }
    .message-box
    {
        min-height: 256px;
    }
    #desc-list p
    {
        text-indent:50px;
    }
textarea
{
    resize: none;
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
{% endblock %}

{% block body_block %}

    <!-- Main grid of the html -->
    <div class="container">
        {% if not owner %}
            <div class="row row-eq-height">
                <div class="col-md-10 col-md-offset-1 greyframe">
                    <div class="row"  >
                        <div class="col col-md-8 greyed">
                            <h4>You are browsing {{ username }}'s page </h4>
                        </div>
                        <div class="col col-md-4">
                            {% if rel_primary %}
                                {% if rel_primary.status == 1 %}
                                    <h4 class="greyed text-right">Request sent  <span class="glyphicon glyphicon-ok"></span> </h4>
                                {% elif rel_primary.status == 2 %}
                                    <h4 class="greyed text-right">Friend  <span class="glyphicon glyphicon-star"></span> </h4>
                                {% elif rel_primary.status == 3 %}
                                    <h4 class="greyed text-right">Blocked  <span class="glyphicon glyphicon-alert"></span> </h4>
                                {% endif %}
                            {% elif rel_secondary %}
                                {% if rel_secondary.status == 1 %}
                                    <a href="add-friend" class="btn btn-primary pull-right" role="button">
                                        <span class="glyphicon glyphicon-plus"></span> Add Friend </a>
                                {% elif rel_secondary.status == 2 %}
                                    <h4 class="greyed text-right">Friend  <span class="glyphicon glyphicon-star"></span> </h4>
                                {% elif rel_secondary.status == 3 %}
                                     <h4 class="greyed text-right">Blocked  <span class="glyphicon glyphicon-alert"></span> </h4>
                                {% endif%}
                            {% else %}
                                <a href="add-friend" class="btn btn-primary pull-right" role="button">
                                    <span class="glyphicon glyphicon-plus"></span> Add Friend </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row row-eq-height top-buffer">
            <div class="col col-md-4 col-md-offset-1">
                <div class="row row-eq-height">
                    <div class="col-sm-5" align="center">
                        <img class="media-object" src="/media/{{ userprofile.picture }}" >
                    </div>
                    <div class="col-sm-7">
                        <h2>{{ username }}</h2>
                        <h3>{{userprofile.points}} pts</h3>
                    </div>
                </div>
                <hr>
                <div class="row row-eq-height top-buffer" align="center">
                    <div id="dailies-list">
                        <h3>Dailies </h3>
                        <small class="greyed"> User's active dailies </small>
                        <br>
                        <br>
                        {% if daily1 %}
                            <h4 class="greyed">{{ daily1 }}</h4>
                        {% endif %}
                        {% if daily2 %}
                            <h4 class="greyed">{{ daily2 }}</h4>
                        {% endif %}
                        {% if daily3 %}
                            <h4 class="greyed">{{ daily3 }}</h4>
                        {% endif %}
                        {% if not daily1 and not daily2 and not daily3 %}
                            <br><p class="greyed" align="center"> No dailies </p><br>
                        {% endif %}
                        <br>
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="row row-eq-height greyframe">
                    <div id="desc-list">
                        <h3>About me</h3>
                        <br>
                        <p>
                            {{ userprofile.description }}
                        </p>
                        <br>
                        {% if owner %}
                            <a class="btn btn-default pull-right" role="button" onclick="show('desc-add');hide('desc-list')">
                                <span class="glyphicon glyphicon-pencil"></span></a>
                        {% endif %}
                    </div>
                    {% if owner %}
                    <div id="desc-add" class="hidden">
                            <br>
                            <form id="desc-form form-group" method="post" action="/selfplus/user/add-desc/">
                                 {% csrf_token %}
                                 {% for field in desc_form.visible_fields %}
                                    {{ field.errors }}
                                     <label class="control-label"> {{ field.help_text }} </label>
                                    <br>
                                    {{ field|htmlattributes:"class : form-control" }}
                                {% endfor %}
                                <br>
                                <input class="btn btn-default pull-right" type="submit" name="submit" value="Save">
                             </form>
                            <br>
                    </div>
                    {% endif %}
                </div>
                <div class="row row-eq-height top-buffer message-box greyframe">
                    <h3>Messages</h3>
                        {% if messages %}
                            <div class = "list-group">
                                {% for message, sender_up in messages %}
                                {% url 'community_user' message.sender.username as user_url %}
                                <div class="list-group-item">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href={{ user_url }}  style="text-decoration:none;">
                                                <img src="/media/{{sender_up.thumbnail}}" />
                                            </a>
                                        </div>
                                        <div class ="media-body">
                                            <div class="media-heading">
                                                <b>{{message.sender.username}}</b>
                                            </div>
                                            <p class="list-group-item-text">{{message.text}}</p>
                                            <span class="greyed"> <small>{{message.date_posted}}</small></span>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <nav>
                                <ul class="pagination pagination-sm">
                                    {% if messages.has_previous %}
                                        <li>
                                            <a href="?page={{messages.previous_page_number}}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span></a>
                                        </li>
                                    {% else %}
                                        <li class = "disabled">
                                            <a href=# aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span></a>
                                        </li>
                                    {% endif %}
                                    {% for page in page_range %}
                                        {%if page == current_page %}
                                            <li class="active"><a href="?page={{ page }}">{{page}}</a></li>
                                        {% else %}
                                            <li><a href="?page={{ page }}">{{ page }}</a></li>
                                        {% endif %}
                                    {% endfor %}

                                    {% if messages.has_next %}
                                        <li>
                                            <a href="?page={{messages.next_page_number}}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span></a>
                                        </li>
                                    {% else %}
                                        <li class = "disabled">
                                             <a href=# aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span></a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        {% else %}
                           <br> <p class="greyed text-center" style="margin-top:10%;margin-bottom:10%;"> No messages </p> <br>
                        {% endif %}
                </div>
                {% if not owner %}
                 <div class="row row-eq-height top-buffer greyframe">
                        {% url 'add_message' username as user_url %}
                        <form id="msg-form" method="post" action= {{ user_url }} >
                            {% csrf_token %}
                            {% for field in message_form.visible_fields %}
                             <div class="form-group">
                                {{ field.errors }}
                                <label class="control-label"> {{ field.help_text }} </label>
                                <div> {{ field|htmlattributes:"class : form-control, rows : 3" }} </div>
                             </div>
                            {% endfor %}
                            <br>
                            <input class="btn btn-default pull-right" type="submit" name="submit" value="Submit"/>
                        </form>
                 </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block custom_script %}
{% endblock %}